// Badge mixins
@mixin badge-outline-variant($color) {
  background-color: transparent !important;
  border: $border-width solid $color !important;
  color: $color;
}

@mixin badge-soft-variant($color) {
  background-color: rgba($color, 0.1) !important;
  color: $color;
  border: $border-width solid transparent !important;
}

// Generate all badge variants in one loop
@each $name, $color in $theme-colors {

  // Outline badges
  .badge-outline-#{$name} {
    @include badge-outline-variant($color);
  }

  // Soft badges
  .badge-soft-#{$name} {
    @include badge-soft-variant($color);
  }
}

// Dot badge
.badge-dot {
  width: $badge-dot-size !important;
  height: $badge-dot-size !important;
  padding: 0 !important;
  border-radius: 50% !important;
  display: inline-block !important;
  border: 2px solid $white !important;
}